/* Reset */

html, body, section, article,
h1, h2, p, strong, em, a, ul {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
  font-family: 'Cabin', sans-serif;
  font-size: 16px;
}

/* Layout */

.main-title {
  float: right;
  font-size: 48px;
  color: white;
  text-align: center;
  font-family: 'Pacifico', cursive;
  margin-top: 175px;
  margin-right: 125px;
}

.container {
  margin: 0px;
  padding: 0px;
}

.jumbotron {
  position: relative;
  margin: 0px;
  background: #00CC99;
  height: 400px;
}

.navbar {
  margin: 0px;
  background: #2F4F4F;
  height: 50px;
  line-height: 50px;
  color: white;
}

.top-menu-left {
  list-style: none;
  margin: auto;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0%)
}

.top-menu-left li {
  display: inline;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 16px;
}

.main {
  width: 700px;
  height: 700px;
  margin: auto;
  margin-top: 50px;
}

.about {
  width: 300px;
  margin: auto;
}

.header {
  font-family: 'Pacifico', cursive;
  font-size: 48px;
  text-align: center;
}

.header:hover {
  color: #2F4F4F;
}

.about-text {
  padding-top: 20px;
  text-align: center;
}
/*Images*/





.circular {
  margin: auto;
	width: 300px;
	height: 300px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url('images/tinyprofile.jpg') no-repeat;
  overflow: hidden;
	}

.overlay {
  background: #00CC99;
  opacity:0;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
  border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
  width: 300px;
  height: 300px;
  line-height: 300px;
}

.img-links {
  margin: 50%;
  color: white;
  left: 50%;
  /*transform: translate(-50%, 0%);*/
}

.overlay:hover {
  opacity:.5;
}
